.card{
    background-color: rgb(55, 201, 19);
    width: 60%;
    margin:auto;
    border-radius: 5%;
    text-align: center;
}
.card-header{
    background-color: blue;
    text-align: center;
    border-radius: 5%;
}